name: Automated Testing
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  automated-testing-selenium:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Run automated testing
        env:
            CHROME_OPTS: --headless
            FIREFOX_OPTS: --headless
        run: mvn surefire-report:report 

